@using FSA.Razor.Components.Components.Shared
@using RazorClassLibrary1.Services.HttpClientSrv.ServiceOrderRegisters.Create
@using RazorClassLibrary1.Services.HttpClientSrv.ServiceOrderRegisters.GetCurrent
@using RazorClassLibrary1.Services.HttpClientSrv.ServiceOrderTasksStates.GetAll
@inject IGetAllServiceOrderTasksStatesService GetAllServiceOrderTasksStatesService
@inject ICreateServiceOrderRegisterService CreateServiceOrderRegisterService
@inject IGetCurrentSORegisterByIdService GetCurrentSORegisterByIdService
@inject NotifierService NotifierService

<FadeIn>

    @* <RadzenTabs @bind-SelectedIndex=@selectedIndex> *@
    <RadzenTabs SelectedIndex="0">
        <Tabs>
            <RadzenTabsItem Text="@Localizer["BasicInfo"]" Icon="page_info">
                
                <RadzenStack Gap="1rem">

                    <RadzenRow>
                        <RadzenIcon Icon="numbers" /><RadzenColumn>@Localizer["Number"]</RadzenColumn>
                        <RadzenColumn Size="8">
                            @ServiceOrder.Number @ServiceOrder.Tasks.Count()
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenIcon Icon="calendar_month" /><RadzenColumn>@Localizer["EstimatedEndingDate"]</RadzenColumn>
                        <RadzenColumn Size="8">
                            @ServiceOrder.EstimatedEndingDate
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenIcon Icon="subject" /><RadzenColumn>@Localizer["Observations"]</RadzenColumn>
                        <RadzenColumn Size="8">
                            @ServiceOrder.Observations
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenIcon Icon="where_to_vote" /><RadzenColumn>@Localizer["Address"]</RadzenColumn>
                        <RadzenColumn Size="8">
                            @ServiceOrder.Address
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenIcon Icon="unknown_document" /><RadzenColumn>@Localizer["ServiceOrderType"]</RadzenColumn>
                        <RadzenColumn Size="8">
                            @ServiceOrder.ServiceOrderTypeId
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenIcon Icon="account_child_invert" /><RadzenColumn>@Localizer["ParentServiceOrder"]</RadzenColumn>
                        <RadzenColumn Size="8">
                            @ServiceOrder.ParentServiceOrderId
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenIcon Icon="engineering" /><RadzenColumn>@Localizer["Executor"]</RadzenColumn>
                        <RadzenColumn Size="8">
                            @ServiceOrder.Executor
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenIcon Icon="attribution" /><RadzenColumn>@Localizer["Owner"]</RadzenColumn>
                        <RadzenColumn Size="8">
                            @ServiceOrder.Owner
                        </RadzenColumn>
                    </RadzenRow>

                    <RadzenRow>
                        <RadzenIcon Icon="where_to_vote" /><RadzenColumn>@Localizer["Active"]</RadzenColumn>
                        <RadzenColumn Size="8">
                             <div style="display: grid; place-items: right">
                                <RadzenIcon Icon="@(@ServiceOrder.IsActive ? "check_circle" : "cancel")"
                                            IconColor="@(@ServiceOrder.IsActive ? Colors.Success : Colors.Danger)" />
                            </div>
                        </RadzenColumn>
                    </RadzenRow>

                </RadzenStack>

            </RadzenTabsItem>
            <RadzenTabsItem Text="@Localizer["Documents"]" Icon="cases">
                Orders
            </RadzenTabsItem>
            <RadzenTabsItem Text="@Localizer["Tasks"]" Icon="format_list_bulleted">

                <SO_TasksComponent ServiceOrder="@ServiceOrder" />

            </RadzenTabsItem>
            <RadzenTabsItem Text="@Localizer["Features"]" Icon="strategy">
                Order Details
            </RadzenTabsItem>
            <RadzenTabsItem Text="@Localizer["Registers"]" Icon="sweep">

                <RadzenFieldset AllowCollapse="true" Style="width: 100%; margin: 5px auto;" ExpandTitle="Expand orders." CollapseTitle="Collapse orders."
                ExpandAriaLabel="Expand the list of orders." CollapseAriaLabel="Collapse the list of orders."
                Expand=@(() => Change("Fieldset expanded")) Collapse=@(() => Change("Fieldset collapsed"))>
                <HeaderTemplate>
                    <RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">
                            <RadzenIcon Icon="account_box" /><b>Modificar o status desta Ordem de Serviço</b>
                    </RadzenStack>
                </HeaderTemplate>
                <ChildContent>

                @* <RadzenRow Size="12" SizeMD="4"> *@
                    @* <RadzenText Text="Observations on the change of state" /> *@
                @* </RadzenRow> *@
                <RadzenTextArea Placeholder="Put some observations here before changing this service order's state" @bind-Value="@SORegisterObservations" Rows="2" Style="width:55%"/>

                <RadzenSteps Change="@OnChange" SelectedIndex="selectedIndex">
                    <Steps>
                        @foreach (var item in SOStates)
                        {
                            <RadzenStepsItem Text=@item.Description onmouseover="" Disabled="@string.IsNullOrEmpty(SORegisterObservations)" />
                        }
                    </Steps>
                </RadzenSteps>

                    </ChildContent>
                    <SummaryTemplate>
                        <RadzenCard class="rz-mt-4">
                            <b>Orders</b>
                        </RadzenCard>
                    </SummaryTemplate>
                </RadzenFieldset>

                <SO_RegistersComponent ServiceOrder="@ServiceOrder" />

            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
     
</FadeIn>