@using FSA.Management.Application.Infrastructure.Services.AppState
@using RazorClassLibrary1.Components.Shared
@* @using FSA.Razor.Components.Components.Shared *@

@inject IManagementAppState? appState;


<h3>@(Localizer["ServiceOrders"])</h3>

<PageTitle>@(Localizer["ServiceOrders"])</PageTitle>

@*<PageHeader Image="_content/FSA.Razor.Components/svg/company-group.svg" Text="@Localizer["CompanyGroups"]" /> *@

<GenericDataGrid Items="ListItems"
                 Pagination=@Pagination
                 AddSufixTitle="AddDocumentType"
                 DataColumns="DataColumns"
                 Actions="ItemActions"
                 GeneralActions="GeneralActions"
                 GridConfiguration="GridConfiguration"
                 SearchActionOnEnter="@Search"
                 OnLoadData="@LoadData"
                 ReturnToAction="@((args) => ExecuteToAction(args.Item1, args.Item2))" />
